<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Matilde</title>
	</head>
	<body>
		<h1>hai :3</h1>
	</body>
</html>
