---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

type Props = HTMLAttributes<'a'> & {
  external?: boolean;
  icon?: string;
};

const { href, external, icon, ...attrs } = Astro.props;

const externalAttrs = external
  ? {
      target: '_blank',
      rel: 'noopener noreferrer',
    }
  : {};
---

<a
  href={href}
  class={`group-hover:scale-105 transition-all duration-200 ${icon ? 'flex flex-col items-center gap-3' : 'hover:text-trans-blue transition-colors'}`}
  {...externalAttrs}
  {...attrs}
>
  {
    icon ? (
      <>
        <Icon
          name={icon}
          size={32}
          class="transition-transform duration-200 group-hover:scale-110"
        />
        <span class="text-sm font-medium">
          <slot />
        </span>
      </>
    ) : (
      <slot />
    )
  }
</a>
